<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CIMitarWSSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://testweb.amkor.co.kr/CIMitarWebService/CIMitarWS.asmx"
                binding="basicHttpBinding" bindingConfiguration="CIMitarWSSoap"
                contract="CIMitarAdminWS.CIMitarWSSoap" name="CIMitarWSSoap" />
        </client>
    </system.serviceModel>
	<appSettings>
		<add key="SMTP" value="10.101.10.6"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<!--<add key="GCLoginMethod" value="eMES"/>-->
		<add key="GCeMesUrl" value="http://10.101.14.181:8080/SmartConsoleWebService/user_info/getUserPPS/"/>
		
		<add key="GCLoginMethod" value="CIMitarAcc"/>
		<add key="GCFactoryUrl" value="http://10.201.16.55/"/>
		<add key="GCFactoryName" value="ATV"/>
	</appSettings>
</configuration>
