<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
  
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
  <system.serviceModel>
        <bindings>
              <basicHttpBinding>
                    <binding name="CIMitarWSSoap" maxBufferPoolSize="2147483647"
                          maxReceivedMessageSize="2147483647" />
              </basicHttpBinding>
        </bindings>
        <client>
              <endpoint address="http://10.201.16.55/CIMitarWebService/CIMitarWS.asmx"
                    binding="basicHttpBinding" bindingConfiguration="CIMitarWSSoap"
                    contract="CIMitarAdminWS.CIMitarWSSoap" name="CIMitarWSSoap" />
        </client>
    </system.serviceModel>
<appSettings>
  <add key="SMTP" value="10.101.10.6"/>
  <add key="ClientSettingsProvider.ServiceUri" value=""/>
	<!--<add key="LoginMethod" value="eMES"/>-->
	<add key="LoginMethod" value="CIMitarAcc"/>
	<add key="FactoryUrl" value="http://10.201.16.55/"/>
	<add key="FactoryName" value="ATV"/>

</appSettings>
<system.web>
  <membership defaultProvider="ClientAuthenticationMembershipProvider">
    <providers>
      <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
    </providers>
  </membership>
  <roleManager defaultProvider="ClientRoleProvider" enabled="true">
    <providers>
      <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
    </providers>
  </roleManager>
</system.web>
</configuration>
